# Example .env - copy to .env in each service and fill values.
DATABASE_URL="postgresql://postgres.iedqrudjltmmpzpqrqgn:Lionnel10pa@aws-1-eu-north-1.pooler.supabase.com:6543/postgres"
SUPABASE_URL=https://iedqrudjltmmpzpqrqgn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImllZHFydWRqbHRtbXB6cHFycWduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTgzOTUyMzgsImV4cCI6MjA3Mzk3MTIzOH0.Aj3UkhAnTKxBWnpsuLd9h7vkb8Qcw7WCaru9EG2_Lqg
SUPABASE_SERVICE_ROLE_KEY=service-role-key
# For API
PORT=4000
# For Worker
WORKER_CONCURRENCY=5
# For Web (Next)
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=public-anon-key
